<header class="main-header">

                   <layout-placeholder name="profileImage">
                   
                    </layout-placeholder>
                    <layout-placeholder name="name">

                     </layout-placeholder>

      </header>
